<h1>Home</h1>

<h2> roster link </h2>

<%= render 'sidebar' %>


<p> This should link to the page for athletes
on a given team. Based on user will have 
permissions to certain athletes. Can 
rework this route later. But for now, 
want to be able to nav to a list of 
athletes and then from those athletes we can 
link to their pages with their stats. 
 </p> 

